.user-credential-data {
  width: 30%;
  margin: 40px auto;
  height: 80vh;

  margin-bottom: 1.5rem;

  .submit {
    border: 0;
    background: #f3e5f5;
    font-size: 18px;
    width: 100%;
    padding: 15px 10px;
  }
}
