.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
}
